name = "dreamtree"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# Cloudflare Pages build output
pages_build_output_dir = ".open-next"

[[d1_databases]]
binding = "DB"
database_name = "dreamtree-db"
database_id = "28ff92b2-a0f1-4bab-a98f-da483b2fdcc1"
